<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Img/logo.png" width="50" height="50" />
       SF Sistemas

    </a>
   

   
        <span class="form-inline">
            <a href="#" class="navbar-brand">Ajuda</a>
            <a href="#" class="navbar-brand">Sobre</a>
        </span>
   
</nav>

