@*<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="~/Content/Img/logo.png" alt="Logo"  width="50" height="50">
            Sistema de Reservas
        </a>

    </nav>*@
<nav class="navbar navbar-inverse">
    <div class="container-fluid itemajuste">
        <div class="navbar-header">
            <img class="imagem-logo" src="~/Content/Img/logo.png" width="50" height="50" />
            <a href="#" id="itemlogo" class="navbar-brand it"> Sistema de Reservas </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="itemsair" href="~/Autenticar/Login.cshtml"><span class="glyphicon glyphicon-log-out "></span>  Sair        </a></li>
        </ul>
    </div>
</nav>
