
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Professor/Views/Shared/_Layout.cshtml";
}

<div class="tab-pane">
    @RenderPage("Selectitens.cshtml")
</div>


<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    $('#clicka').click(function () {
      
        $.ajax({
            url: 'http://localhost:6067/Professor/Home/SelecionaDia',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
            .success(function (result) {
                $('#SelectDias').html(result);
            });
    });
</script>

<div class="tab-pane" id="SelectDias">

</div>
