
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Data e hora da reserva</h2>
    </div>
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><label><input name="frequencia" type="radio" /> Semanalmente</label></li>
                    <li class="list-group-item"><label><input name="frequencia" type="radio" /> Mensalmente</label></li>
                    <li class="list-group-item"><label><input name="frequencia" type="radio" /> Semestrealmente</label>
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><label><input name="fequenciames" type="radio" /> Mesma data </label></li>
                    <li class="list-group-item"><label><input name="frequenciames" type="radio" /> Mesmo dia da semana</label></li>

                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Segunda</label></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Terça</label></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Quarta</label></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Quinta</label></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Sexta</label></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-2">
                <ul class="list-group">
                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Sabado</label></li>
                </ul>
            </div>
            <button href="@Url.Action("Index")" data-toggle="tab" class="btn btn-success btn-lg pull-right"><i class="glyphicon glyphicon-check"></i> Confirmar</button>
            <br />
        </div>

    </div>


</div>