
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Seleção de Itens</h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-offset-2 col-xs-12 col-md-4  ">
                <h5 class="panel-title">Selecione  o dia da reserva</h5>
                <input type="date" class="form-control" />
            </div>
            <div class="col-xs-12 col-md-4">
                <h5 class="panel-title">Selecione a hora da reserva</h5>
                <input type="time" class="form-control" />
            </div>
        </div>
        <ul class="list-group">

            <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Caixa de Som</label></li>
            <li class="list-group-item checkbox"><label><input type="checkbox" /> <span></span> Data Show</label></li>
            <li class="list-group-item checkbox"><label><input type="checkbox" /> <span></span> Sala</label></li>

        </ul>


        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <label>Selecione o Bloco</label>
                <select name="Sala" class="form-control">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                    <option>G</option>
                    <option>H</option>
                    <option>J</option>

                </select>
            </div>
            <div class="col-md-5">
                <label>Selecione os equipamentos</label>
                <select name="Caixa-som" multiple class="form-control">
                    <option>Som - JBL</option>
                    <option>Som - Samsung</option>
                    <option>Som - Philco</option>
                    <option>Som - Jbl ++</option>
                    <option>DS Philco Hdmi</option>
                    <option>DS Philco vga</option>
                    <option>DS CCE Hdmi</option>
                    <option>DS CCe VGA</option>
                </select>
            </div>
            <br />
            <div class="row">
                <div class="col-md-9 col-md-offset-1">
                    <label>Observações:</label>
                    <textarea id="form-field-11" class="autosize-transition form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;"></textarea>
                </div>
            </div>
            
        </div>
        <br />
        <button data-toggle="tab" class="btn btn-primary btn-lg pull-right" id="clicka"> Avançar</button>
    </div>
   
</div>


