
<div class="panel panel-danger">
    <div class="panel-heading">
        <h2>Seleção de Itens</h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-offset-2 col-xs-12 col-md-4  ">
                <h5 class="panel-title">Selecione  o dia da reserva</h5>
                <input type="date" class="form-control" />
            </div>
            <div class="col-xs-12 col-md-4">
                <h5 class="panel-title">Selecione a data da reserva</h5>
                <input type="time" class="form-control" />
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Caixa de Som</label></li>
            <li class="list-group-item checkbox"><label><input type="checkbox" /> <span></span> Data Show</label></li>
            <li class="list-group-item checkbox"><label><input type="checkbox" /> <span></span> Sala</label></li>
            
        </ul>
       
        <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Buscar disponíveis</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Selecionar opçoes de Itens</h4>
                    </div>
                    <div class="modal-body">




                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <ul class="list-group scroll1 ">
                                    <li class="list-group-item   "><input type="text" class="form-control" /></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span> Caixa de Som - JBL</label></li>
                                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Caixa de Som - Philco</label></li>
                                    <li class="list-group-item checkbox"><label><input type="checkbox" /><span></span> Caixa de Som - Sony</label></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-4 scroll1">
                                <ul class="list-group">
                                    <li class="list-group-item   "><input type="text" class="form-control" /></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span> Data Show - Samsung </label></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span> Data Show - Sony</label></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span> Data Show - Philco </label></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-4 scroll1">
                                <ul class="list-group">
                                    <li class="list-group-item   "><input type="text" class="form-control" /></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span>A1</label></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span> B2</label></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span>C3</label></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span>A1</label></li>
                                    <li class="list-group-item  checkbox "><label><input type="checkbox" /><span></span> B2</label></li>
                             
                                </ul>
                            </div>
                            <br />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <button href="#tab2" data-toggle="tab" class="btn btn-primary pull-right"> Avançar</button>
    </div>
    <p align="center" class="alert alert-danger">Você ainda não escolheu o bloco...</p>
</div>

